
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<html>
{% block body %}
<style>
body {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     height: 100vh; 
     background-color: #f1f1f1;
   }

input {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
   }

label {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
   }

select {
     margin-bottom: 10px;
     margin-top: 10px;
   }

</style>
<form role="form" action="#" method="post" >
    {% csrf_token %} 

    
    {% for field in student_details %}

    

        <p>

            {% csrf_token %}


            {{field.label_tag}}
            {{field}}




        </p>

    {% endfor %}

    
    <br>

    <input type="submit" value ="Search for details" /> 


    <br>
    <br>
    <br>
    <a href="/student_data" class="w3-bar-item w3-button">For details of all Students</a>

    


  </form>
{% endblock %}
</body>
</html>

