
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<html>
{% block body %}


<form role="form" action="" method="post" >
    {% csrf_token %} 

    {{StudentDetailsForm}}
    {% for field in student_details %}

    

        <p>

            {% csrf_token %}


            {{field.label_tag}}
            {{field}}




        </p>

    {% endfor %}

    
    <br>

    <input type="submit" value ="Search for details" /> 

    


  </form>
{% endblock %}
</body>
</html>