
<!DOCTYPE html>


<html>


{% load static %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Individual Student Marks</title>
   <ul class="nav navbar-nav my-2 my-lg-0">
<li class="nav-item"><a class="nav-link" href="/student/logout"><i class="fas fa-user"></i> Logout</a></li>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />




  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">


</head>

<body>
  <div class="top_container sub_pages ">
  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">

      <h2 class="main-heading">
        Select the Student

      </h2>
      <p class="text-center">
        Teacher can access mark of Individual Student here..!

      </p>
    <form role="form" action="#" method="post" >
      <div class="">
        <div class="contact_section-container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              
                <form action="">
                  <div>
    {% csrf_token %} 

    
    {% for field in student_details %}

    

        <p>

            {% csrf_token %}


            {{field.label_tag}}
            {{field}}




        </p>

    {% endfor %}

    
    <br>

    <input type="submit" value ="Search for details"/> 


    <br>
    <br>
    <br>
    <a href="/student_data" class="w3-bar-item w3-button">For details of all Students</a>

    


  </form>
 <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- progreesbar script -->

  
</body>

</html>
