


<!DOCTYPE html>
<html>


{% block style %}




{% endblock %}

{% load static %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Marks</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />




  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <ul class="nav navbar-nav my-2 my-lg-0">
<li class="nav-item"><a class="nav-link" href="/student/logout"><i class="fas fa-user"></i> Logout</a></li>

</head>

<body>
  <div class="top_container sub_pages">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="">
            <span>
              Marks
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <h2 class="main-heading ">
        upload marks
      </h2>
      <form method="post">
      {% csrf_token %} 
      
      {{student_form}}

      
      <br><br>
      <input type="submit" value ="Submit"/> 
   </form>


<li><a href='/individualstudent_data'>For student details</a></li>
      <div class="about_img-box ">
        <img src="{% static 'images/kids.jpg' %}" alt="" class="img-fluid w-100">
      </div>
      

          <span>
           
          </span>
          
      </div>
    </div>
  </section>


  <!-- about section -->

















