
<!DOCTYPE >
<html>
{% load static %}



<head>
  <ul class="nav navbar-nav my-2 my-lg-0">
<li class="nav-item"><a class="nav-link" href="/student/logout"><i class="fas fa-user"></i> Logout</a></li>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>All student's Marks</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

{% block content %}


  <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">


</head>


<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="row"></th>
      <th scope="col">Name</th>
      <th scope="row"></th>
      <th scope="col">Subject</th>
      <th scope="row"></th>
      <th scope="col">Marks</th>
      <th scope="row"></th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in result %} 
      <th scope="row"></th>

      <td>{{i.user}}</td>
     
      <th scope="row"></th>

      <td>{{i.subject}}</td>
     

      <th scope="row"></th>
     
      <td>{{i.mark}}</td>

      
      
      <th scope="row"></th>
     
      <td> 
              {% if i.mark >= 50 %} 
                  'pass'  
              {% else %} 
                  'fail' 
              {% endif %} 
              
           </td>
    </tr>
   
    {% endfor %}

{% endblock %}
  </tbody>

</table>
<input type=button value="Previous Page" onClick="javascript:history.go(-1);">

</html>
</body></table></body></body></html>


